<div class="d-flex justify-content-center m-5">
<form action="/answer" data-turbo="false" class="form-label">
  <input type="text" name="query" class="border-dark">
  <input type="submit" value="Ask!" class="btn btn-dark">
</form>
</div>
